<h2>
  Add a Band
</h2>

<form action=" <%= bands_url %> " method="post">
  <%= auth_token_input %>
  <label>Name:<br>
    <input type="text" name="band[name]">
  </label>
  <br>
  <br>
  <input type="submit" value="Submit">
</form>

<%= render 'form', band: @band, type: new %>
